.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  overflow: hidden;
  height: 100%;
  width: 20vw;
  margin: 20px 10px;
}

.folder-link {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 20px;
  background-color: #99b898;
  border-bottom: 2px solid white;
}

.add-folder,
.go-back {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  width: 85%;
  text-decoration: none;
  font-size: 16px;
  background-color: #ff847c;
}

.go-back {
  margin-top: 0;
  border: none;
}

.active {
  background-color: #feceab;
}

@media only screen and (max-width: 500px) {
  .folder-link,
  .add-folder {
    font-size: 14px;
  }
}
