.folder-name {
  margin-top: 20px;
  color: #e84a5f;
  font-size: 24px;
}

.side-bar {
  width: 19vw;
}

.go-back:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .folder-name {
    font-size: 14px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 900px) {
  .folder-name {
    font-size: 18px;
  }
}
