.note-route {
  padding-left: 20px;
  padding: 20px;
  width: 75vw;
}

.note {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.full {
  background-color: #feceab;
}

.delete-note {
  padding: 7px 5px;
  background-color: #e84a5f;
}
