.note-route {
  padding-left: 20px;
  padding: 20px 10px;
  width: 70vw;
}

.note {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.note-info {
  padding-right: 5px;
  overflow: hidden;
}
.full {
  background-color: #feceab;
}

.delete-note {
  padding: 7px 5px;
  background-color: #e84a5f;
}

.content {
  word-wrap: break-word;
}

.note-name {
  font-weight: normal;
}

@media only screen and (min-width: 1000px) {
  .note-route {
    width: 50vw;
  }
}
