.add_note {
  padding-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.form-label,
.input-label {
  color: #e84a5f;
}

.input-label {
  font-size: 20px;
  margin-top: 20px;
}

.radio-label {
  padding: 10px 0px;
}

input[type='radio'] {
  vertical-align: middle;
}

.submit {
  margin-top: 20px;
  border: none;
  align-self: center;
  background-color: #ff847c;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
}

.form-label {
  font-size: 26px;
  font-weight: 500;
  border-bottom: 1px solid black;
}
